library/
temp/
bin/
obj/
xcode/
builds/
logs/
.vs/
.gradle/
*/UserSettings/
.utmp

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.booproj
*.DS_Store

ffmpeg.exe

!SimpleGif/**/*.sln
!SimpleGif/**/*.csproj

!AssetStoreCalculator/**/*.sln
!AssetStoreCalculator/**/*.csproj

!SimpleAudioLibrary/Resources/ManagedCodecs/**/*.sln
!SimpleAudioLibrary/Resources/ManagedCodecs/**/*.csproj

!**/Apps/**/*.sln
!**/Apps/**/*.csproj
!**/Apps/**/*.user